li{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    margin-bottom: 2;
}

.selected
{
    background-color: #555555;
    font-weight: bold;
}

.details
{
    padding: 10px;
    border: 1px solid #999999;
}

.completed
{
    background-color: #009900;
}